{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": ["react"],

  "env": {
    "jest": true
  },

  "rules": {
     "no-multi-spaces": 0,
     "react/jsx-boolean-value": 0,
     "object-shorthand": 0,
     "arrow-body-style": 0,
     "no-param-reassign": 0,
     "maximumLineLength": 0
  }
}
