<div id="reactify-app"><%= @reactify_pre_rendered_html.strip.html_safe %></div>

<script type="text/javascript">
  window.__CONTROLLER_VARIABLES__ = <%= @reactify_view_assigns.html_safe %>;
</script>
<% if Rails.env.development? %>
  <%= javascript_include_tag 'http://localhost:8080/reactify/reactify_bundle.js' %>
<% else %>
  <%= javascript_include_tag '/reactify/reactify_bundle.js' %>
<% end %>
