<div id="reactify-app">
  <h1>
    <%=
      @pre_redered_html
    %>
  </h1>
</div>
<script type="text/javascript">
  window.__CONTROLLER_VARIABLES__ = <%= @view_assigns.to_json.html_safe %>;
</script>
<% if Rails.env.development? %>
  <%= javascript_include_tag 'http://localhost:8080/webpack/reactify_spa.js' %>
<% else %>
  <%= javascript_include_tag '/webpack/reactify_spa.js' %>
<% end %>

